html{
    background-image: url('/Users/donovan/GA/Project-One/connect_4.jpg');
    height: 100%;
}
#startPage{
    text-align: center;
}
#gameBroadPage{
    background-color: yellow;
}
#gameBroad{
    text-align: center;
}
.cicrle{
    border: 2px solid white;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 10px;
}
#a1{
    background: sienna;
}